/* Styles for the sidebar container */
.sideBar {
  position: fixed;
  top: 5;
  left: 0;
  height: 100vh;
  width: 175px; /* Adjust width as needed */
  background-color: #e9e9e9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding-top: 5rem; /* Adjust padding to accommodate header */
}

/* Styles for the links container */
.flexContainer {
  flex: 1;
  max-height: 40rem; /* Adjust padding values as needed */
  overflow-y: auto; /* Add scrollbar if content overflows */
  padding: 1rem;
}

/* Styles for individual link items */
.link {
  text-decoration: none; /* Remove underline from links */
}
.item {
  color: #333; /* Text color */
  padding: 0.75rem 0.25rem; /* Adjust padding for better spacing */
  height: 2rem;
  transition: background-color 0.2s ease-in-out; /* Add hover effect */
}

.link:hover {
  background-color: #e0e0e0; /* Darker background on hover */
}

/* Styles for the sign out container */
.signOutContainer {
  padding: 1rem;
  display: flex;
  align-items: center; /* Center sign out button vertically */
}

/* Styles for the sign out button */
.signOutContainer button {
  background-color: #c2c2c2; /* Transparent background */
  border: none;
  color: #000000; /* Text color for button */
  padding: 0.5rem 1rem;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: color 0.2s ease-in-out; /* Add hover effect */
}

.signOutContainer button:hover {
  color: #07111b; /* Blue on hover */
}
